
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

@font-face {
    font-family: 'FontLogo';
    src: url('https://res.cloudinary.com/dnesyeqdg/raw/upload/v1727779858/Pilowlava-Atome_dzgbeg.woff2') format('woff2'),
    url('https://res.cloudinary.com/dnesyeqdg/raw/upload/v1727779858/Pilowlava-Atome_ytybwe.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NextFont';
    src: url('https://res.cloudinary.com/dnesyeqdg/raw/upload/v1727779949/COOPBL_zs7afd.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Typefesse';
    src: url('https://res.cloudinary.com/dnesyeqdg/raw/upload/v1727808958/Typefesse_Pleine_qzsyuu.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Typefesse2';
    src: url('https://res.cloudinary.com/dnesyeqdg/raw/upload/v1727808958/Typefesse_Claire-Obscure_vucy39.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontBonita';
    src: url('https://res.cloudinary.com/dnesyeqdg/raw/upload/v1728604446/FlechaM-Medium_nzjhpc.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.yatra-one-regular {
    font-family: "Yatra One", system-ui;
    font-weight: 400;
    font-style: normal;
}

Html {
scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0D0E12;
    color: #D1D5DB;
    font-family: 'Onest', system-ui, sans-serif;
}

:root{
    --body-color: #0d0e12;
    --nav-color: transparent;
    --side-nav: #0D0E12;
    --text-color: #FCFCFD;
    --search-bar: #F2F2F2;
    --search-text: #fcfcfd;
}
body{
    background-color: var(--body-color);
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

nav .nav-bar{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}
nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    margin-left: 16px;
    font-family: 'Typefesse2', sans-serif;
    color: var(--text-color);
    text-decoration: none;
}
.menu .logo-toggle{
    display: none;
}
.nav-bar .nav-links{
    display: flex;
    align-items: center;
}
.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}
.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}
.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}
.nav-links li:hover a::before{
    opacity: 1;
}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}

@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
        
    }
    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: transparent;
        z-index: 100;
        transition: all 0.4s ease;
    }
    nav.active .menu{
        left: -0%;
    }
    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }
    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }
    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }
    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}

.container {
    display: flex;
    align-items: center;
    margin-left: 80px;
    margin-top: 150px;
}

.image-container img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-left: 150px;
}

.info-container h1 {
    padding-bottom: 15px;
    font-family: "fontBonita", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 65px;
    font-weight: 600;
}

.info-container p {
    font-family: "Onest", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
}

span {
    color: #20bcfc;
    font-weight: bold;
}

.links-container {
    margin-left: 80px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #1b1b1b;
    background-color: rgb(0, 125, 209);
    border-radius: 8px;
    text-decoration: none;
    margin-right: 10px;
}

.button-2 {
    background-color: transparent;
    border: 2px solid #2b2c33;
    border-radius: 8px;
    color: rgb(220, 220, 220);
}

.button:hover {
    background-color: rgb(0, 106, 177);
}

.button-2:hover {
    background-color: #3b4048;
}

.container2 {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #1e1f23;
    padding: 20px;
}

.images {
    display: flex;
    gap: 8px;
    margin-left: auto;
    margin-right: 66px;
}

svg {
    width: 64px;
    height: 64px;
    border-radius: 8px;
}

h4 {
    margin-left: 56px;
    font-size: 32px;
    font-weight: bold;
    max-width: 400px;
}

@media (max-width: 575px) {
    .container {
        margin-top: 25px;
        margin-left: 5px;
        flex-direction: column;
        display: flex;
    }
    .container .info-container {
        order: 2;
    }

    .info-container p {
        font-size: 18px;
        max-width: 85%;
        margin-left: 40px;
    }

    .container .info-container h1 {
        text-align: center;
        font-size: 36px;
    }

    .container .image-container {
        order: 1;
        margin-top: 50px;
        margin-left: 0;
    }
    .image-container img {
        width: 250px;
        height: 250px;
        margin-left: 0px;
    }

    .links-container {
        margin-top: 20px;
        margin-left: 48px;
        margin-right: 35px;
    }

    .button-2, .button {
        text-align: center;
        width: 98%;
        margin-top: 18px;
    }

    .container2 {
        display: block;
        margin-top: 100px;
        background-color: #1e1f23;
        padding: 20px;
    }
    
    .images {
        margin-left: 35px;
        margin-top: 25px;
        gap: 12px;
    }
    
    svg {
        width: 60px;
        height: 60px;
        border-radius: 8px;
    }
    
    h4 {
        margin-left: 25px;
        font-size: 36px;
        font-weight: bold;
        max-width: 400px;
    }

    .spanLeft {
        margin-left: 77px;
    }

    .container__01 {
    display: block;
}
}

.info-container {
    max-width: 600px;
}



#icon-discord {
    display: flex;
    padding: 8px 16px;
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #0D0E12;
    background: linear-gradient(to right, #c084fc, #fca5a5);
    border-radius: 5px;
}

#icon-discord:hover {
    background: linear-gradient(to right, #d8b4fe, #fecaca)
}

#icon-discord i {
    margin-right: 3px;
    font-size: 25px;
    vertical-align: middle;
}

#icon-spotify {
    padding: 6px 6px;
    background-color: #0D0E12;
    border: 2px solid #2b2c33;
    border-radius: 8px;
    color: rgb(220, 220, 220);
}

#icon-spotify i {
    font-size: 15px;
}

#icon-spotify:hover {
    background-color: #2b2c33;
}

.container__01 {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.section__01, .section__02, .section__03 {
    background-color: white;
    border-radius: 10px;
    width: 30%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.section__02 {
    background-color: #ebf0ff;
}

.section__03 {
    background-color: #ffe0d5;
}

.section__01:hover, .section__02:hover, .section__03:hover {
    transform: scale(1.05);
}

.section__01 h2, .section__02 h2, .section__03 h2 {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    line-height: 2.5rem;
    color: #0009;
}

.section__01 h2 {
    font-size: 1.500em;
}

.section__02 h2 {
    font-size: 1.750em;
}

.section__03 h2 {
    font-size: 1.850em;
}

.section__01 p, .section__02 p, .section__03 p {
    font-size: 1.12rem;
    color: #666;
    font-family: 'Poppins';
}

.section__01 input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-top: 10px;
}

footer {
    background-color: #0D0E12;
    font-family: "DM Sans", sans-serif;
    color: #FCFCFD;
    text-align: center;
    padding: 20px;
}

.container__footer {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 130px;
}

#year:hover {
    color: #09f;
    cursor: pointer;
}

#year {
    color: #FCFCFD;
}

.divider__footer {
    margin-top: 18px;
    margin-bottom: 18px;
}

.footer__clip {
    text-decoration: none;
    color: #FCFCFD;
}
