@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

@font-face {
    font-family: 'FontLogo';
    src: url('https://res.cloudinary.com/dnesyeqdg/raw/upload/v1727779858/Pilowlava-Atome_dzgbeg.woff2') format('woff2'),
    url('https://res.cloudinary.com/dnesyeqdg/raw/upload/v1727779858/Pilowlava-Atome_ytybwe.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NextFont';
    src: url('https://res.cloudinary.com/dnesyeqdg/raw/upload/v1727779949/COOPBL_zs7afd.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Typefesse';
    src: url('https://res.cloudinary.com/dnesyeqdg/raw/upload/v1727808958/Typefesse_Pleine_qzsyuu.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Typefesse2';
    src: url('https://res.cloudinary.com/dnesyeqdg/raw/upload/v1727808958/Typefesse_Claire-Obscure_vucy39.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.yatra-one-regular {
    font-family: "Yatra One", system-ui;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0D0E12;
    color: #D1D5DB;
    font-family: 'Onest', system-ui, sans-serif;
}

hr.divider {
    border: none;
    height: 2px;
    background-color: #22252b;
    margin-top: 10px;
}

.li__nav, .a__nav, .button__nav {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10px;
    position: fixed;
}

.logo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
    margin-right: auto;
}

.nav__links {
    list-style: none;
    display: flex
}

.nav__links li {
    display: inline-block;
    padding: 0px 8px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.nav__links li a:hover {
    color: #20bcfc;
}

.button__nav {
    width: 45px;
    height: 45px;
    padding: 10px 10px;
    background-color: transparent;
    border: 1px solid #2b2c33;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 25px;
}

.button__nav:hover {
    background-color: #2b2c33;
}

.modeSVG {
    width: 30px;
    height: 30px;
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    background-color: #0D0E12;
}

hr.divider {
    border: none;
    height: 2px;
    background-color: #22252b;
    margin-top: 10px;
}

.container {
    display: flex;
    align-items: center;
    margin-left: 80px;
    margin-top: 150px;
}

.image-container img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-left: 250px;
}

.info-container h1 {
    padding-bottom: 15px;
    font-family: "NextFont", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 65px;
    font-weight: 600;
}

.info-container p {
    font-family: "Onest", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
}

span {
    color: #20bcfc;
    font-weight: bold;
}

.links-container {
    margin-left: 80px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #1b1b1b;
    background-color: rgb(0, 125, 209);
    border-radius: 8px;
    text-decoration: none;
    margin-right: 10px;
}

.button-2 {
    background-color: #0D0E12;
    border: 2px solid #2b2c33;
    border-radius: 8px;
    color: rgb(220, 220, 220);
}

.button:hover {
    background-color: rgb(0, 106, 177);
}

.button-2:hover {
    background-color: #3b4048;
}

.container2 {
    margin-top: 100px;
    background-color: #1e1f23;
    padding: 20px;
}

.images {
    display: flex;
    gap: 8px;
}

svg {
    width: 64px;
    height: 64px;
    border-radius: 8px;
}

h4 {
    margin-left: 60px;
    font-size: 23px;
    font-weight: bold;
}

@media (max-width: 575px) {
    .container {
        margin-top: 25px;
        margin-left: 5px;
        flex-direction: column;
        display: flex;
    }
    .container .info-container {
        order: 2;
    }

    .info-container p {
        font-size: 18px;
        max-width: 85%;
        margin-left: 40px;
    }

    .container .info-container h1 {
        text-align: center;
        font-size: 36px;
    }

    .container .image-container {
        order: 1;
        margin-top: 50px;
        margin-left: 0;
    }
    .image-container img {
        width: 250px;
        height: 250px;
        margin-left: 0px;
    }

    .links-container {
        margin-top: 20px;
        margin-left: 35px;
        margin-right: 35px;
    }

    .button-2, .button {
        text-align: center;
        width: 98%;
        margin-top: 18px;
    }
    .h4sec {
        font-size: 30px;
        align-items: center;
    }
    .images {
        margin-top: 36px;
        margin-left: 80px;
        display: flex;
        gap: 8;
    }
    .images svg {
        width: 60px;
        height: 60px;
    }

    .button__nav {
        margin-left: 55px;
    }

    .nav__links {
        margin-left: 45px;
    }
}

.info-container {
    max-width: 600px;
}
